<ion-view style="" id="page3" title="Dad">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/XvdoD1xfT0Stut81s4xT_index.png">
    </div>
    <center>
      <p style="font-size:25px;">
        <br>
        <b>
          +63 999 999 9999
        </b>
      </p>
    </center>
    <button class="button button-balanced button-block icon ion-ios-telephone" id="dad-button60"></button>
  </ion-content>
</ion-view>