<ion-view style="" id="page7" title="Recents">
  <ion-content class="has-header" padding="true">
    <div class="button-bar" id="recents-button-bar3">
      <button class="button button-stable button-block icon ion-ios-clock" id="recents-button18"></button>
      <button class="button button-stable button-block icon ion-ios-people" id="recents-button19"></button>
      <button class="button button-stable button-block icon ion-ios-keypad" id="recents-button20"></button>
    </div>
  </ion-content>
</ion-view>